/* This is my first css to learn about it */

h5 {
    position: unset;
    right: 0px;
    width: 100px;
    padding: 10px;
}

body {
    background-color: azure;
    color: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.label-form {
    color: crimson;
}

input[type=text] {
    width: 200px;
    display: inline-block;
    padding: 4px 4px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {
    width: 60px;
    display: inline-block;
    padding: 4px 4px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel] {
    width: 150px;
    display: inline-block;
    padding: 4px 4px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 60px;
    padding: 4px 4px;
    margin: 1px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[type=reset] {
    background-color: grey;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    background-color: green;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 50%;
    background-color: white;
    border-collapse: collapse;
}

tr:nth-child(even) {
    color: black;
}

td {
    border: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
}

table th {
    background-color: green;
    color: white;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}


/* Another way to configure table with class
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 3%;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
*/

.div {
    margin: 8px;
    padding: 10px;
    border-style: solid;
    height: 30%;
    width: 30%;
    color: blue;
    display: inline;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-indent: 10px;
    text-align: justify;
    line-height: 1.5;
    word-spacing: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    position: relative;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: blue;
}

a:link {
    color: blue;
}

a:visited {
    color: thistle;
}

a:active {
    color: black;
}

a:hover {
    color: gray;
}

ul {
    background-color: #fff;
    border: solid;
    padding-left: 25px;
}

li {
    padding: 5px;
}

.img_float {
    float: right;
}

img:hover {
    opacity: 0.9;
}


/* Superior bar */

.ul_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.li_bar {
    float: left;
}

.li_bar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.li_bar:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}